# ==========================================
# Sistema operativo
# ==========================================

.DS_Store
Thumbs.db


# ==========================================
# IDEs / Editores
# ==========================================

.vscode/
.idea/


# ==========================================
# Archivos temporales
# ==========================================

*.tmp
*.temp
*~
*.swp
*.swo


# ==========================================
# Logs
# ==========================================

*.log